{% load static %}{% load roles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Car Service Tracking System - Manage your auto service business efficiently">
    <meta name="keywords" content="car service, auto repair, vehicle maintenance, service tracking, auto shop">
    <meta name="author" content="Your Company">
    <link rel="icon" href="{% static 'assets/images/favicon.png' %}" type="image/x-icon">
    <link rel="shortcut icon" href="{% static 'assets/images/favicon.png' %}" type="image/x-icon">
    <title>{% block title %}POS Tracker{% endblock %}</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700;800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'assets/css/font-awesome.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/vendors/icofont.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/vendors/themify.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/vendors/flag-icon.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/vendors/feather-icon.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/vendors/slick.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/vendors/slick-theme.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/vendors/scrollbar.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/vendors/animate.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/vendors/echart.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/vendors/date-picker.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/vendors/datatables.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/vendors/select2.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/vendors/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
    <link id="color" rel="stylesheet" href="{% static 'assets/css/color-1.css' %}" media="screen">
    <link rel="stylesheet" href="{% static 'assets/css/responsive.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/custom.css' %}">
    {% block extra_css %}{% endblock %}
</head>
<body>
  <div class="loader-wrapper"><div class="loader"><div class="loader4"></div></div></div>
  <div class="tap-top"><i data-feather="chevrons-up"></i></div>
  <div class="page-wrapper compact-wrapper" id="pageWrapper">
    <div class="page-header">
      <div class="header-wrapper row m-0">
        <div class="header-logo-wrapper col-auto p-0">
          <div class="logo-wrapper">
            <a href="{% url 'tracker:dashboard' %}"><img class="img-fluid for-light" src="{% static 'assets/images/logo/logo_dark.png' %}" alt="logo-light"><img class="img-fluid for-dark" src="{% static 'assets/images/logo/logo.png' %}" alt="logo-dark"></a>
          </div>
          <div class="toggle-sidebar"><i class="status_toggle middle sidebar-toggle" data-feather="align-center"></i></div>
        </div>
        <div class="left-header col d-none d-md-block">
          <div class="d-flex align-items-center gap-2"><h4 class="f-w-600">Welcome</h4><img class="mt-0" src="{% static 'assets/images/hand.gif' %}" alt="hand-gif"></div>
        </div>
        <div class="nav-right col-auto ms-auto">
          <ul class="nav-menus">
            <li class="onhover-dropdown notification-down">
              <div class="notification-box">
                <svg><use href="{% static 'assets/svg/icon-sprite.svg' %}#notification-header"></use></svg>
              </div>
              <div class="onhover-show-div notification-dropdown">
                <div class="card mb-0"><div class="card-header"><div class="common-space"><h4 class="text-start f-w-600">Notifications</h4></div></div><div class="card-body"><div class="f-light f-12">No new notifications</div></div></div>
              </div>
            </li>
            <li class="profile-nav onhover-dropdown">
              <div class="media profile-media"><img class="b-r-10" src="{% static 'assets/images/dashboard/profile.png' %}" alt="">
                <div class="media-body d-xxl-block d-none box-col-none"><div class="d-flex align-items-center gap-2"><span>{{ request.user.username }}</span><i class="middle fa fa-angle-down"></i></div><p class="mb-0 font-roboto">{% if request.user.is_superuser %}Admin{% elif request.user|has_group:'manager' %}Manager{% else %}Staff{% endif %}</p></div>
              </div>
              <ul class="profile-dropdown onhover-show-div">
                <li><a href="{% url 'tracker:logout' %}"><i data-feather="log-out"></i><span>Log Out</span></a></li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="page-body-wrapper">
      <div class="sidebar-wrapper" data-layout="stroke-svg">
        <div class="logo-wrapper"><a href="{% url 'tracker:dashboard' %}"><img class="img-fluid" src="{% static 'assets/images/logo/logo.png' %}" alt=""></a>
          <div class="back-btn"><i class="fa fa-angle-left"></i></div>
          <div class="toggle-sidebar"><i class="status_toggle middle sidebar-toggle" data-feather="grid"></i></div>
        </div>
        <div class="logo-icon-wrapper"><a href="{% url 'tracker:dashboard' %}"><img class="img-fluid" src="{% static 'assets/images/logo/logo-icon.png' %}" alt=""></a></div>
        <nav class="sidebar-main">
          <div class="left-arrow" id="left-arrow"><i data-feather="arrow-left"></i></div>
          <div id="sidebar-menu">
            <ul class="sidebar-links" id="simple-bar">
              <li class="sidebar-list"><a class="sidebar-link sidebar-title link-nav" href="{% url 'tracker:dashboard' %}"><svg class="stroke-icon"><use href="{% static 'assets/svg/icon-sprite.svg' %}#stroke-home"></use></svg><svg class="fill-icon"><use href="{% static 'assets/svg/icon-sprite.svg' %}#fill-home"></use></svg><span>Dashboard</span></a></li>
              <li class="sidebar-list"><a class="sidebar-link sidebar-title" href="#"><svg class="stroke-icon"><use href="{% static 'assets/svg/icon-sprite.svg' %}#stroke-project"></use></svg><svg class="fill-icon"><use href="{% static 'assets/svg/icon-sprite.svg' %}#fill-project"></use></svg><span>POS Tracker</span></a>
                <ul class="sidebar-submenu">
                  <li><a href="{% url 'tracker:customers_list' %}">Customers</a></li>
                  <li><a href="{% url 'tracker:customer_register' %}">Register Customer</a></li>
                  <li><a href="{% url 'tracker:orders_list' %}">Orders</a></li>
                  <li><a href="{% url 'tracker:order_start' %}">New Order</a></li>
                  <li><a href="{% url 'tracker:analytics' %}">Analytics</a></li>
                  <li><a href="{% url 'tracker:reports' %}">Reports</a></li>
                  <li><a href="{% url 'tracker:reports_advanced' %}">Advanced Reports</a></li>
                  <li><a href="{% url 'tracker:inquiries' %}">Inquiries</a></li>
                  {% if request.user.is_superuser or request.user|has_group:'manager' %}
                    <li><a href="{% url 'tracker:inventory_list' %}">Inventory</a></li>
                  {% endif %}
                  {% if request.user.is_superuser %}
                    <li><a href="{% url 'tracker:organization' %}">Organizations</a></li>
                    <li><a href="{% url 'tracker:users_list' %}">Users</a></li>
                    <li><a href="{% url 'tracker:system_settings' %}">System Settings</a></li>
                    <li><a href="{% url 'tracker:audit_logs' %}">Audit Logs</a></li>
                    <li><a href="{% url 'tracker:backup_restore' %}">Backup/Restore</a></li>
                  {% endif %}
                </ul>
              </li>
            </ul>
            <div class="right-arrow" id="right-arrow"><i data-feather="arrow-right"></i></div>
          </div>
        </nav>
      </div>

      <div class="page-body">
        <div class="container-fluid">
          {% if messages %}
            {% for m in messages %}<div class="alert alert-{{ m.tags }}">{{ m }}</div>{% endfor %}
          {% endif %}
        </div>
        {% block content %}{% endblock %}
      </div>
    </div>
  </div>

  <script src="{% static 'assets/js/jquery.min.js' %}"></script>
  <script src="{% static 'assets/js/bootstrap/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'assets/js/icons/feather-icon/feather.min.js' %}"></script>
  <script src="{% static 'assets/js/icons/feather-icon/feather-icon.js' %}"></script>
  <script src="{% static 'assets/js/scrollbar/simplebar.js' %}"></script>
  <script src="{% static 'assets/js/config.js' %}"></script>
  <script src="{% static 'assets/js/sidebar-menu.js' %}"></script>
  {% block extra_js %}{% endblock %}
</body>
</html>
